/.gradle
!/.idea
/.idea/*
!/.idea/codeStyles/
!/.idea/copyright/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/runConfigurations/
!/.idea/icon.png
/nbproject/private/

/bin
/build
/out

/buildSrc/.gradle
/buildSrc/build
/buildSrc/out

/modules/*/.gradle
/modules/*/build
/modules/*/out
/modules/lwjgl/*/.gradle
/modules/lwjgl/*/build
/modules/lwjgl/*/out

/wiki

.DS_Store
*.bat
*.conf
*.dll
*.dylib
*.jar
*.jpg
*.mhr
*.obj
*.ogg
*.sh
*.so
*.ttf
*.wav
*.zip
touch.txt